
<div class="container-sm">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header">
          Input
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="zenprice">Item Price</label>
              <div class="input-group">
                <input type="text" [value]="zenPrice" (change)="onZenPriceChange($event)" class="form-control" id="zenprice">
                <div class="input-group-append">
                  <span class="input-group-text">Zen</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="zax">ZAX</label>
              <div class="input-group">
                <input type="text" [value]="zax" (change)="onZaxChange($event)" class="form-control" id="zax">
                <div class="input-group-append">
                  <span class="input-group-text">AD</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="sellPrice">Sell Price</label>
              <div class="input-group">
                <input type="text" [value]="sellPrice" (change)="onSellPriceChange($event)" class="form-control" id="selprice">
                <div class="input-group-append">
                  <span class="input-group-text">AD</span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header">
          Calculation
        </div>
        <div class="card-body">
          <div>{{zenPrice | number}} Z x {{zax | number}} AD = {{amountAd | number}} AD</div>
          <div>Break-even price: {{breakEvenAd | number}} AD</div>
          <div *ngIf="sellPrice > 0">
            <div>Profit:&nbsp;<span [ngClass]="{
              'text-success': profit &gt; 0,
              'text-danger': profit &lt; 0
            }">{{profit | number}} AD</span></div>
            <div>Profit margin:&nbsp;<span [ngClass]="{
              'text-success': profit &gt; 0,
              'text-danger': profit &lt; 0
            }">{{profitPct | number:'1.0-1' }}%</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
